.stats {
  font-size: 18px;
  background-color: #1f1e1c;
  border-radius: 15px;
  width: 160px;
  padding: 15px 30px;
  color: rgb(172, 196, 218);
  .line {
    margin-bottom: 10px;
  }

  .value {
    font-weight: 600;
    margin-left: 5px;
  }
}
