<div class="container mt-3 mb-3 wrapper">
  <div class="row">
    <button
      *ngIf="gameState$ && (gameState$ | async) !== GameState.started"
      type="button"
      class="btn btn-success mb-1 customeButton"
      (click)="onStartClick()"
    >
      New game
    </button>

    <button
      *ngIf="gameState$ && (gameState$ | async) === GameState.started"
      type="button"
      class="btn btn-warning customeButton"
      (click)="onPauseClick()"
    >
      Pause
    </button>

    <button
      *ngIf="gameState$ && (gameState$ | async) === GameState.paused"
      type="button"
      class="btn btn-info customeButton"
      (click)="onResumeClick()"
    >
      Resume
    </button>
  </div>
</div>
