<div #gameContainer (keyup)="handleKeyUp($event)">
  <div class="row d-flex-center">
    <div>
      <canvas #canvas class="gameField"></canvas>
    </div>
    <div class="col-4 col-md-2">
      <div class="row">
        <game-panel
          [gameState$]="game.getState()"
          (newGame)="newGame()"
          (pauseGame)="pauseGame()"
          (resumeGame)="resumeGame()"
        ></game-panel>
      </div>

      <div class="row">
        <game-statistic [game]="game"></game-statistic>
      </div>
      <div class="row">
        <next-shape [nextItems]="game.getNextItems() | async"></next-shape>
      </div>
    </div>
  </div>
</div>
