<div #gameContainer class="container" (keyup)="handleKeyUp($event)">
  <div class="row d-flex-center">
    <game-panel
      [gameState$]="game.getState()"
      (newGame)="newGame()"
      (pauseGame)="pauseGame()"
      (resumeGame)="resumeGame()"
    ></game-panel>
    <game-statistic
      [gameTime$]="game.getGameTime()"
      [removedLines$]="game.getRemovedLines()"
      [scores$]="game.getScores()"
    ></game-statistic>
  </div>
  <div class="row d-flex-center">
    <canvas #canvas class="gameField"></canvas>
  </div>
</div>
